" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
" -- set number and relative number
set number
set relativenumber
" -- wrap the content
set wrap

" Do incremental searching.
"set incsearch
" set clipboard to system
set clipboard=unnamedplus

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
nmap /    :action CommentByLineComment
vmap /    :action CommentByLineComment
"-- format on leader + fc
nmap fc :action ReformatCode


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r (ReformatCode)

"" Map d to start debug
"map d (Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b (ToggleLineBreakpoint)

" -- add jj as escape insert mode and add time out
inoremap jj 
set timeoutlen=400
" -- add tab to switch between tabs in normal mode
nnoremap  gt
nnoremap  gT

" -- add alt +hjkl to move insert mode
inoremap  
inoremap  
inoremap  
inoremap  

" -- leader key
let mapleader = " "

" -- leader + w to save
nnoremap w :w
" -- leader + q to quit
nnoremap q :q

" -- open fuzzy finder with leader +ff
nnoremap ff :action GotoFile
" -- search all files with leader + fF
nnoremap fW :action FindInPath
